# Import packages

In [1]:
import os
from pathlib import Path
import pandas as pd
import numpy as np
from statsmodels.stats.multitest import fdrcorrection
import patch_seq_spl.helper_functions as src
from importlib import reload
import json
import matplotlib.pyplot as plt
import seaborn as sns
from utility.ryp import r, to_r
import anndata

Loading required package: svglite

In [2]:
adata = anndata.read_h5ad("proc/scquint/preprocessed_adata_three.h5ad")

/Users/xunuo/miniforge3/envs/patch_seq_spl/lib/python3.12/site-packages/anndata/_core/aligned_df.py:67: ImplicitModificationWarning: Transforming to str index.
  warnings.warn("Transforming to str index.", ImplicitModificationWarning)

In [3]:
adata

AnnData object with n_obs × n_vars = 4190 × 37251
    var: 'chromosome', 'start', 'end', 'strand', 'intron_motif', 'annotation', 'unique', 'multi', 'max_overhang', 'i', 'canonical_start', 'gene_id_start', 'canonical_end', 'gene_id_end', 'n_genes', 'gene_id', 'gene_name', 'intron_group', 'n_genes_per_intron_group', 'intron_group_size'

In [5]:
adata.var

,chromosome,start,end,strand,intron_motif,annotation,unique,multi,max_overhang,i,canonical_start,gene_id_start,canonical_end,gene_id_end,n_genes,gene_id,gene_name,intron_group,n_genes_per_intron_group,intron_group_size
0,Y,897900,898549,+,1,0,90,0,25,2569,2,,1,ENSMUSG00000056673,1,ENSMUSG00000056673,Kdm5d,Kdm5d_Y_898549_+,1,2
1,Y,898116,898549,+,1,1,1734,0,22,2573,1,ENSMUSG00000056673,1,ENSMUSG00000056673,1,ENSMUSG00000056673,Kdm5d,Kdm5d_Y_898549_+,1,2
2,Y,1012170,1014633,+,1,1,3970,1,19,2655,1,ENSMUSG00000069049,1,ENSMUSG00000069049,1,ENSMUSG00000069049,Eif2s3y,Eif2s3y_Y_1014633_+,1,3
3,Y,1013474,1014633,+,1,1,2569,2,5,2662,1,ENSMUSG00000069049,1,ENSMUSG00000069049,1,ENSMUSG00000069049,Eif2s3y,Eif2s3y_Y_1014633_+,1,3
4,Y,1014320,1014633,+,1,0,110,0,22,2664,2,,1,ENSMUSG00000069049,1,ENSMUSG00000069049,Eif2s3y,Eif2s3y_Y_1014633_+,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37246,1,194812318,194813367,-,2,1,140,8,21,954655,1,ENSMUSG00000016481,0,ENSMUSG00000016481,1,ENSMUSG00000016481,Cr1l,Cr1l_1_194812318_-,1,5
37247,1,194812318,194813395,-,2,1,130,0,25,954656,1,ENSMUSG00000016481,0,ENSMUSG00000016481,1,ENSMUSG00000016481,Cr1l,Cr1l_1_194812318_-,1,5
37248,1,194812318,194813495,-,2,1,2349,248,14,954658,1,ENSMUSG00000016481,1,ENSMUSG00000016481,1,ENSMUSG00000016481,Cr1l,Cr1l_1_194812318_-,1,5
37249,1,194812318,194813672,-,2,1,107,10,25,954659,1,ENSMUSG00000016481,2,,1,ENSMUSG00000016481,Cr1l,Cr1l_1_194812318_-,1,5
37250,1,194812318,194813809,-,2,1,732,2,20,954661,1,ENSMUSG00000016481,0,ENSMUSG00000016481,1,ENSMUSG00000016481,Cr1l,Cr1l_1_194812318_-,1,5